<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GREETING</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" href="/theme.css" />
    <link rel="stylesheet" href="/globals.css" />
    <link rel="stylesheet" href="/landing_view.css" />
    <script src="/mouse-events.js" defer></script>
  </head>
  <body>
    <section class="flx-center-row chat-logo">
      <img src="/logo_md.svg" alt="Logo" />
    </section>
    <section class="chat-container">
      <span class="chat-greeting flx-center-col">
        <h6>Welcome, User</h6>
        <h4>How can I help you today?</h4>
      </span>
      <!-- TODO - return to later
      <span class="flx-center-row">
      <button type="button" class="cat-cta">chat</button>
      <button type="button" class="cat-cta">food inspiration</button>
      <button type="button" class="cat-cta">create</button>
      </span> -->

      <form method="POST" action="/chat" class="flx-center-row">
        <input
          class="glassmorph"
          type="text"
          name="message"
          placeholder="Ask me anything"
          aria-label="Chat message"
          maxlength="500"
          value="<%= typeof lastMessage !== 'undefined' ? lastMessage : '' %>"
        />
        <button class="submit-btn flx-center-row" type="submit">
          <span
            class="iconify masked-cont"
            data-icon="_custom-icons/sparkle.svg"
          ></span>
        </button>
      </form>
    </section>
    <section class="flx-center-col chat-tc">
      <div>
        <button type="button" onclick="location.href='/chat'">Open Chat</button>
        <button
          type="button"
          class="primary cta-menu"
          onclick="location.href='/signup'"
        >
          Create Account
        </button>
      </div>
      <a href="#" class="link-underline">Terms & Conditions</a>
      <!-- <p>
        By using this chatbot, you agree that your inputs may be processed and
        stored to improve its functionality. The chatbot only provides general
        information and should not be considered professional advice. The
        developer is not liable for any errors, omissions, or misunderstandings
        in the chatbot’s responses.
      </p> -->
    </section>

    <div class="dot" id="dot" aria-hidden="true"></div>
  </body>
</html>
