html {
  background-position: top;
  background-size: cover;
  overflow: hidden;
}

.chat-logo img {
  width: 15%;
}

.chat-logo {
  width: 100%;
}

.chat-container {
  padding-inline: var(--space-xl);
  scrollbar-width: 0 !important;
  scrollbar-color: transparent !important;
}

.chat-container:hover {
  scrollbar-width: 0 !important;
  scrollbar-color: transparent !important;
}

.msg-bubble {
  width: calc(100% / 12 * 8);
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: var(--space-xl);
  align-content: flex-end;
  -webkit-mask-image: linear-gradient(transparent, black, transparent);
  mask-image: linear-gradient(
    transparent,
    var(--primary),
    var(--primary),
    var(--primary),
    var(--primary),
    transparent
  );
}

.message-row {
  display: flex;
  align-items: flex-end; /* keeps avatar aligned with bottom of text */
  gap: 0.8rem; /* space between avatar and text */
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.message {
  max-width: 65%;
  height: fit-content;
  white-space: wrap;
  word-wrap: break-word;
  padding: var(--space-sm);
  border: 1px solid rgba(var(--primary-rgb), 0.4);
  margin-bottom: 1rem;
  align-self: flex-end;
}

.message-row.user {
  justify-content: flex-end; /* user messages align right */
}

.message-row.user .avatar {
  order: 2; /* avatar after message */
}

.message-row.user .message {
  text-align: right;
  border-radius: 20px 20px 2px 20px;
  background-color: rgba(var(--secondary-rgb), 0.7);
  box-shadow: none;
}

.message-row.bot {
  justify-content: flex-start; /* bot messages align left */
}

.message-row.bot .avatar {
  order: 0;
}

.message-row.bot .message {
  text-align: left;
  border-radius: 20px 20px 20px 2px;
  background-color: rgba(var(--background-rgb), 0.5);
  box-shadow: none;
}
